.contact__container{
    margin: 100px;

    & .subtitle{
        border: 1px solid;
    }
}

.contact__button{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 0px rgb(49, 49, 49);
    cursor: pointer;
    display: flex;
    margin: 50px auto;
    padding: 15px;
    outline: none;
    
    transition: box-shadow .5s ease;
    &:hover{
            box-shadow: 0px 0px 5px 0px rgb(194, 170, 170);
    }
}

.home{
    background: #74777c;
    border: none;
}