.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__input{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    outline: none;
    background-color: #242629;
    font-size: 15px;
    width: 50%;
}

textarea{
    resize: none;
    height: 100px;
    font: 400 15px Roboto;
}

@media screen and (max-width: 600px) {
    .form__input{
        width: 80%;
    }
    
  }